<!--
 Copyright (c) 2014, 2018, Oracle and/or its affiliates.
 The Universal Permissive License (UPL), Version 1.0
 -->

<div class="oj-hybrid-padding">
    <div id="sampleDemo" style="" class="demo-padding demo-container">
      <div id="componentDemoContent" style="width: 1px; min-width: 100%;">
         <center>
           Data of 2018
        <div id='chart-container'>
            <oj-chart id="barChart"
                  type="bar"
                  orientation="[[orientationValue]]"
                  stack="[[stackValue]]"
                  series="[[barSeriesValue]]"
                  items="[[barSeriesitems]]"
                  groups="[[barGroupsValue]]"
                  animation-on-display="auto"
                  animation-on-data-change="auto"
                  hover-behavior="dim"
                  on-selection-changed="[[gotoContent]]"
                  selection-mode="single"
                 style="max-width:80%;width:100%;height:410px;">
            </oj-chart>
            <oj-toolbar id="myToolbar" aria-label="Chart Display Options Toolbar" aria-controls="barChart"
                        style="max-width:500px;width:100%;">
                <!-- vertical/horizontal toggle button -->
                <demo-chart-orientation-control id="orientationControl" type="bar" focus-management="none" orientation="{{orientationValue}}">
                </demo-chart-orientation-control>
                <span role="separator" aria-orientation="vertical" class="oj-toolbar-separator"></span>
                <!-- unstacked/stacked toggle button -->
                <demo-chart-stack-control id="stackControl" type="bar" focus-management="none" stack="{{stackValue}}" series="{{barSeriesValue}}">
                </demo-chart-stack-control>
            </oj-toolbar>
        </div>
      </center>
        <!-- drill down -->
        <div id="page2" class="demo-page demo-page2-hide">
            <oj-button id="buttonIcon2" on-oj-action="[[gotoList]]">
              <span slot="startIcon" class="oj-fwk-icon-caret-start oj-fwk-icon"></span>
            Back To Chart
            </oj-button>
            <div class="oj-panel demo-panel">
                <span data-bind="text: content"></span>
            </div>
        </div>
      </div>
    </div>
</div>
