<!--
 Copyright (c) 2014, 2018, Oracle and/or its affiliates.
 The Universal Permissive License (UPL), Version 1.0
 -->
 <center>
  <div class="oj-hybrid-padding">
    <h1>LOG IN</h1>
    <div>

      <div class="oj-applayout-content">
        <div role="main" class="oj-hybrid-applayout-content">
          <div class="oj-hybrid-padding" id="content">

            <oj-toolbar id="lang_buttons">
              <!-- ko foreach: toolbarButtons -->
        			<oj-button data-bind="attr:{'id':label}" display='icons' on-oj-action="[[$parent.setLang]]">
                  <span data-bind="text: label"></span>
                  <span slot='startIcon' data-bind="css:'demo-icon-font '+iconClass"></span>
                </oj-button>
                <p data-bind="text:label"></p>
              <!-- /ko -->
            </oj-toolbar>
            <oj-label>

            </oj-label>
            <div class="demo-signin-form-container oj-hybrid-padding">
              <div class="demo-signin-form oj-hybrid-padding-vertical">
                <oj-validation-group id="tracker" valid="{{groupValid}}">
                  <form method="post" action="" name="signInForm">
                    <oj-span data-bind="text: username"></oj-span>
                    <oj-input-text id='firstname' placeholder='Username' spellcheck='false' autocorrect='off' autocapitalize=off aria-label='User Name' value='{{firstName}}' required='true'></oj-input-text>
                    <br><br>

                    <span>Password </span>
                    <oj-input-password id='password' placeholder='Password' aria-label='password' value='{{passWord}}' required='true'></oj-input-password>
                  </form>
                </oj-validation-group>

                <div class="oj-hybrid-padding-top">
                  <oj-button id='signInBtn' class='demo-signin-button' chroming='full'
                    on-oj-action='[[signIn]]'><span class="demo-signin-button-label"><span class='oj-hybrid-padding-horizontal'>Log In</span></span></oj-button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</center>
