/*
    Document   : override
    Created on : <date>
    Author     : <author>
    Description:
        This is where any of your application specific styles should be included
*/

.demo-page1-hide {
  display:none;
}

.demo-page2-hide {
  display:none;
}

.userNav {
  display:block;
}

#userDetailNav{
  display:none;
}

.demo-en-flag-icon:before {
    content: url("images/United States of America.png"); }
html[dir="rtl"] .demo-en-flag-icon:before {
    content: url("images/United States of America.png"); }

.demo-fr-flag-icon:before {
    content: url("images/France.png"); }
html[dir="rtl"] .demo-fr-flag-icon:before {
    content: url("images/France.png"); }

.demo-cz-flag-icon:before {
    content: url("images/Czech Republic.png"); }
html[dir="rtl"] .demo-cz-flag-icon:before {
    content: url("images/Czech Republic.png"); }
